<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Space Ripples Reveal Big Bang’s Smoking Gun</title>
</head>
<body>
<header>
	<div class="section_menu"></div>
	<div class="home"></div>
	<div class="search"></div>
	<div class="logo"></div>
	
</header>
<section class="content">
	<article>
		<aside class="comments">
			
		</aside>
		<aside class="pub_liste">
			
		</aside>
		<aside class="pub_image"></aside>
		<div class="schemas">
			
		</div>
		<div class="video">
			
		</div>
		<div class="telescope">
			
		</div>
	</article>
	<section class="more">
		
	</section>
	<section class="trending">
		
	</section>
	<section class="menu">
		<header></header>
		<nav></nav>
	</section>
</section>
<footer></footer>
</body>
</html>